---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Banner from "../components/Banner.astro";
import Contact from "../components/Contact.astro";
import LittleProjects from "../components/LittleProjects.astro";
---

<Layout title="My portfolio v2.1">
	<!-- Header -->
	<Header title="xiayudev™" signup="Sign Up" body="Home" />

	<!-- Main item -->
	<main class="z-20 h-auto w-full">
		<!-- Section banner -->
		<Banner />

		<!-- Section one - Introduction-->
		<section class="relative h-auto w-full drop-shadow-2xl md:h-screen" id="one">
			<div
				class="relative h-full w-full md:absolute md:bg-setup md:bg-cover md:bg-fixed md:bg-center"
			>
				<img class="md:hidden" src="/img/setup_pc.png" alt="Set up" />
			</div>
			<div
				class="flex flex-col items-center border-t-2 border-blue-500 bg-gradient-to-b from-secondary to-primary py-10 px-5 text-center font-extralight text-gray-400 sm:border-t-4 sm:px-10 md:absolute md:bottom-0 md:text-left md:opacity-95 2xl:space-y-4 2xl:px-80 2xl:pt-20"
			>
				<div class="space-y-10 md:grid md:grid-cols-3 md:gap-4 md:space-y-0">
					<div class="flex flex-col items-center space-y-4 md:items-start">
						<h2
							class="w-4/5 text-2xl font-medium text-gray-100 lg:text-3xl 2xl:text-4xl"
						>
							A Little About Me And My Work
						</h2>
						<p class="text-gray-200 2xl:text-lg">
							Hello! I am xiayudev and I love creating some useful stuffs for the web
							and everything related to the internet and techs.
						</p>
					</div>
					<div class="2xl:text-lg">
						My journey in web development started when I was curious about how web pages
						were built and started to edit them on devtools of Chrome web browser. After
						that, step by step I was falling in love with every thing that I was able to
						build. Now, I cannot live without coding.
					</div>
					<div class="2xl:text-lg">
						Nowadays, I am learning frameworks for CSS and Javascript. Also, I will
						learn back-end techs and all related to this amazing path. I know this path
						takes time but I will work smart, tough and gain the respect of the
						comunity. Currently I am focused on building accesible, human-centered,
						responsive web app and applications.
					</div>
				</div>
				<a
					class="hidden h-16 w-20 transition-all duration-500 md:grid md:items-end md:justify-center lg:h-20 lg:w-32 lg:hover:text-terciary"
					href="#two"
				>
					<ion-icon
						class="h-7 w-7 animate-bounce lg:h-10 lg:w-10"
						name="code-download-outline"></ion-icon>
				</a>
			</div>
		</section>

		<!-- Section two -  Project 1-->
		<section
			id="two"
			class="h-auto w-full drop-shadow-xl md:flex md:h-screen md:items-end md:justify-center"
		>
			<div
				class="h-full w-full md:absolute md:bg-mymtech md:bg-cover md:bg-fixed md:bg-center"
			>
				<img
					class="md:hidden"
					src="/img/mymtech-tablet.png"
					alt="a man in front of his computer"
				/>
			</div>
			<div
				class="flex flex-col items-center border-t-2 border-green-500 bg-gradient-to-b from-secondary to-primary py-10 px-5 text-center font-extralight text-gray-400 sm:border-t-4 sm:px-10 md:absolute md:right-0 md:h-full md:w-2/5 md:max-w-lg md:border-l-4 md:border-t-0 md:border-l-green-500 md:text-left md:opacity-95 xl:px-20"
			>
				<div class="flex flex-col items-center space-y-10">
					<div class="flex flex-col items-center space-y-4 md:items-start">
						<h2
							class="w-4/5 text-2xl font-medium text-gray-100 lg:text-3xl 2xl:text-4xl"
						>
							Website For MyM Tech.
						</h2>
						<p class="text-gray-200 2xl:text-lg">
							This a simple website built with Tailwindcss and Vue.js + Vite.
						</p>
					</div>
					<p class="2xl:text-lg text-gray-200">
						This website is informative for now, I mean you can see the products
						information (price, description, etc.) but cannot buy them online. You can
						see the products online and contact the company if you pretend to buy some
						products.
					</p>
					<!-- <a
						class="grid h-10 w-full place-items-center rounded-lg font-normal text-gray-100 ring-1 ring-gray-500 transition-all duration-500 sm:w-[200px] lg:hover:text-terciary lg:hover:ring-terciary 2xl:h-14"
						href="#"
						>Learn More
					</a> -->
					<p class="text-gray-50 self-start">
						See MyM Tech's website <a
							href="https://mymtech.netlify.app/"
							target="_blank"
							class="text-terciary hover:underline font-semibold">here</a
						>.
					</p>
				</div>
			</div>
			<a
				class="hidden h-16 w-20 transition-all duration-500 md:bottom-0 md:grid md:place-items-center lg:h-20 lg:w-32 lg:hover:text-terciary"
				href="#three"
			>
				<ion-icon
					class="h-7 w-7 animate-bounce lg:h-10 lg:w-10"
					name="code-download-outline"></ion-icon>
			</a>
		</section>

		<!-- Section three - Project 2-->
		<section
			id="three"
			class="h-auto w-full drop-shadow-2xl md:flex md:h-screen md:items-end md:justify-center"
		>
			<div
				class="h-full w-full md:absolute md:bg-video-games md:bg-cover md:bg-fixed md:bg-center"
			>
				<img class="md:hidden" src="https://res.cloudinary.com/djvwjnzxw/image/upload/v1683418344/hsh_shell_hppe0o.png" alt="demo-shell" />
			</div>
			<div
				class="flex flex-col items-center border-t-2 border-terciary bg-gradient-to-b from-secondary to-primary py-10 px-5 text-center font-extralight text-gray-400 sm:border-t-4 sm:px-10 md:absolute md:left-0 md:h-full md:w-2/5 md:max-w-lg md:border-t-0 md:border-r-4 md:border-r-terciary md:px-5 md:text-left md:opacity-95 xl:px-20"
			>
				<div class="flex flex-col items-center space-y-10">
					<div class="flex flex-col items-center space-y-4 md:items-start">
						<h2
							class="w-4/5 text-2xl font-medium text-gray-100 lg:text-3xl 2xl:text-4xl"
						>
							Basic Shell
						</h2>
						<p class="text-gray-200 2xl:text-lg">
							This project is about a basic shell that understand some commands.
						</p>
					</div>
					<div class="2xl:text-lg">
						This shell is a basic implementation of the bash shell. It has no advanced features and should not be used as a shell by default.
						<p>
							To see how it works and how to use it, please check the repo <a href="https://github.com/Ghelder/holbertonschool-simple_shell"
							target="_blank"
							class="text-terciary hover:underline font-semibold">here</a>
						</p>
					</div>
					<!--<a
						class="grid h-10 w-full place-items-center rounded-lg font-normal text-gray-100 ring-1 ring-gray-500 transition-all duration-500 sm:w-[200px] lg:hover:text-terciary lg:hover:ring-terciary 2xl:h-14"
						href="#"
						>Learn More
					</a>-->
				</div>
			</div>
			<a
				class="hidden h-16 w-20 text-gray-200 transition-all duration-500 md:grid md:place-items-center lg:h-20 lg:w-32 lg:hover:text-terciary"
				href="#four"
			>
				<ion-icon
					class="h-7 w-7 animate-bounce lg:h-10 lg:w-10"
					name="code-download-outline"></ion-icon>
			</a>
		</section>

		<!-- Section four - Other projects -->
		<LittleProjects />

		<Contact />
	</main>

	<!-- Footer item -->
	<Footer />
</Layout>
