<section
	class="flex min-h-[50vh] w-full flex-col items-center space-y-6 bg-terciary py-10 px-5 font-extralight text-gray-200 sm:px-10 lg:py-20"
	id="contact"
>
	<div class="max-w-md">
		<h2 class="text-center text-2xl font-medium text-gray-100 md:text-3xl lg:text-4xl">
			Get in touch with me!
		</h2>
		<p class="text-center">
			Please, feel free to mail me. Whether you have a question or just want to say hi, I will
			try my best to get back to you!
		</p>
	</div>

	<!-- Forms -->
	<form action="#" class="h-auto w-full xl:px-60 2xl:px-96">
		<fieldset class="flex h-full w-full flex-col sm:flex-row sm:flex-wrap">
			<div class="mb-7 sm:mr-5 sm:flex-grow 2xl:mr-32">
				<label for="name" class="flex flex-col space-y-4">
					<span class="font-normal after:ml-0.5 after:text-gray-300 after:content-['*']"
						>Name
					</span>
					<input
						class="h-12 rounded-xl border border-pink-400 bg-terciary px-5 text-pink-300 outline-none"
						type="text"
						id="name"
						placeholder="Your name"
						autocomplete="name"
						required
					/>
				</label>
			</div>
			<div class="sm:flex-grow">
				<label for="mail" class="flex flex-col space-y-4">
					<span
						class="inline-block font-normal after:ml-0.5 after:text-gray-300 after:content-['*']"
						>E-mail
					</span>
					<input
						class="peer h-12 rounded-xl border border-pink-400 bg-terciary px-5 text-pink-300 outline-none"
						type="email"
						id="mail"
						placeholder="Your email"
						autocomplete="email"
					/>
					<p class="invisible text-sm text-gray-300 peer-invalid:visible">
						Please provide a valid email address
					</p>
				</label>
			</div>
			<div class="mb-10 sm:w-full">
				<label for="message" class="flex flex-col space-y-4">
					<span class="font-normal after:ml-0.5 after:text-gray-300 after:content-['*']"
						>Message
					</span>
					<textarea
						class="w-full rounded-xl border border-pink-400 bg-terciary px-5 text-pink-300 outline-none"
						id="message"
						placeholder="Your message"
						rows="8"
						name="message"
						required></textarea>
				</label>
			</div>
			<div class="flex w-full justify-center">
				<input
					type="submit"
					value="Send Message"
					class="h-12 w-3/4 max-w-xs self-center rounded-xl bg-gray-100 text-terciary ring-1 ring-gray-100 transition-all duration-500 hover:cursor-pointer lg:font-normal lg:hover:bg-[#e65971] lg:hover:text-gray-100 lg:hover:ring-pink-400 2xl:h-14 outline-none"
					id="cta-btn"
					name="cta-btn"
				/>
			</div>
		</fieldset>
	</form>
</section>
