<section
	class="flex min-h-[30vh] w-full flex-col items-center justify-center space-y-6 bg-terciary py-10 px-5 font-extralight text-gray-200 sm:px-10 lg:py-20"
	id="contact"
>
	<div class="max-w-md">
		<h2 class="text-center text-2xl font-medium text-gray-100 md:text-3xl lg:text-4xl">
			Get in touch with me!
		</h2>
		<p class="text-center">
			Please, feel free to mail me. Whether you have a question or just want to say hi, I will
			try my best to get back to you!
		</p>
	</div>

	<!-- Forms -->
	<form action="#" class="h-auto w-full xl:px-60 2xl:px-96 sm:flex sm:justify-center">
		<fieldset class="flex h-full w-full flex-col sm:flex-row space-y-4 sm:space-y-0 flex-wrap sm:flex-nowrap sm:items-center sm:justify-center max-w-4xl sm:space-x-8">
			<div class="flex w-full justify-center items-start">
				<a href="mailto:jctuesta7@gmail.com?subject=I would like to contact you&body=Hi! I would like to meet with you." target="_blank", class="w-full flex h-16 justify-center">
					<input
					type="submit"
					value="Send Message"
					class="h-16 w-3/4 max-w-[250px] self-center rounded-xl bg-gray-100 text-terciary ring-1 ring-gray-100 transition-all duration-500 hover:cursor-pointer lg:font-normal lg:hover:bg-[#e65971] lg:hover:text-gray-100 lg:hover:ring-pink-400 2xl:h-14 outline-none"
					id="cta-btn"
					name="cta-btn"
					/>
				</a>
			</div>
		</fieldset>
	</form>
</section>
