<!-- Footer item -->
<footer class="z-20 h-auto w-full space-y-6 bg-primary py-10 px-5 2xl:py-28">
    <div class="flex w-full items-center justify-center space-x-4">
        <!-- Linkedin -->
        <a
            href="https://www.linkedin.com/in/josu%C3%A9-cerr%C3%B3n-tuesta-190a0a168/"
            target="_blank"
            class="h-6 w-6 text-gray-100 transition-all duration-500 lg:h-8 lg:w-8 lg:hover:text-terciary"
        >
            <ion-icon class="h-full w-full" name="logo-linkedin" />
        </a>
        <!-- Github - xiayudev -->
        <a
            href="https://github.com/xiayudev"
            target="_blank"
            class="h-6 w-6 text-gray-100 transition-all duration-500 lg:h-8 lg:w-8 lg:hover:text-terciary"
        >
            <ion-icon name="logo-github" class="h-full w-full" />
        </a>
        <!-- Instagram -->
        <!-- <a
					href="https://instagram.com/josh7__4"
					class="h-6 w-6 text-gray-100 transition-all duration-500 lg:hover:text-terciary"
				>
					<ion-icon class="h-full w-full" name="logo-instagram"></ion-icon>
				</a> -->
        <!-- Twitter -->
        <a
            href="https://twitter.com/J7Jeo"
            target="_blank"
            class="h-6 w-6 text-gray-100 transition-all duration-500 lg:h-8 lg:w-8 lg:hover:text-terciary"
        >
            <ion-icon class="h-full w-full" name="logo-twitter" />
        </a>
        <!-- Gitlab - TheSunLand7 -->
        <a
            href="https://gitlab.com/xiayudev"
            target="_blank"
            class="h-6 w-6 text-gray-100 transition-all duration-500 lg:h-8 lg:w-8 lg:hover:text-terciary"
        >
            <ion-icon class="h-full w-full" name="logo-gitlab" />
        </a>
        <!-- Codepen -->
        <a
            href="https://codepen.io/thesunland7"
            target="_blank"
            class="h-6 w-6 text-gray-100 transition-all duration-500 lg:h-8 lg:w-8 lg:hover:text-terciary"
        >
            <ion-icon class="h-full w-full" name="logo-codepen" />
        </a>
    </div>
    <div
        class="space-x-4 font-extralight text-gray-500 sm:flex sm:justify-center"
    >
        <p class="text-center">
            Built by xiayudev&trade;. All rights reserved.
        </p>
        <p class="text-center">
            Design by &#x1F449;
            <a
                class="underline decoration-gray-500 decoration-dotted decoration-2 underline-offset-2 lg:hover:text-terciary lg:hover:no-underline"
                href="https://html5up.net"
                >HTML5 UP
            </a>
            &#x1F448;
        </p>
    </div>
    <div>
        <p class="text-center font-extralight text-gray-500">
            Buy me a
            <a
                href="https://paypal.me/josct7"
                target="_blank"
                class="underline decoration-gray-500 decoration-dotted decoration-2 underline-offset-2 lg:hover:text-terciary lg:hover:no-underline"
                >coffee <ion-icon name="logo-paypal" class="h-6 w-6" />
            </a>
            &#x1F601;
        </p>
    </div>
</footer>
