---
export interface Props {
	title: string;
	body: string;
	signup: string;
}

const { signup, title, body } = Astro.props as Props;
---

<header class="fixed z-20 h-10 w-full sm:absolute">
	<!-- Nav bar mobile -->
	<nav class="flex h-full w-full lg:hidden">
		<!-- Menu items -->
		<div class="lg:hidden">
			<div
				id="menu"
				class="z[15] invisible absolute mt-10 flex h-intro w-full flex-col items-center space-y-2 bg-primary py-10 text-gray-100 drop-shadow-md"
			>
				<a class="menu-item block w-full py-4 text-center" href="#">Home</a>
				<a class="menu-item block w-full py-4 text-center" href="#two">Projects</a>
				<a class="menu-item block w-full py-4 text-center" href="#">Blogs</a>
				<a class="menu-item block w-full py-4 text-center" href="#contact">Contact</a>
			</div>
		</div>

		<!-- Hamburger icon -->
		<div class="relative h-full w-10 bg-terciary p-[10px]" id="menu-btn">
			<div
				class="ham-top absolute h-[2px] w-5 rotate-0 bg-pink-300 transition-all duration-500"
			>
			</div>
			<div
				class="ham-middle absolute h-[2px] w-5 translate-y-2 rotate-0 bg-pink-300 transition-all duration-500"
			>
			</div>
			<div
				class="ham-bottom absolute h-[2px] w-5 translate-y-4 rotate-0 bg-pink-300 transition-all duration-500"
			>
			</div>
		</div>
		<div class="grid h-full flex-grow items-center bg-gray-800 pl-[30%]">
			<span class="font-extralight text-slate-200">{title}</span>
		</div>
	</nav>

	<!-- Nav bar tablet and desktop -->
	<section class="hidden h-10 w-full lg:flex">
		<div class="flex h-full w-full items-center justify-between px-5 py-10 lg:px-20">
			<div>
				<a href="index.html" class="text-gray-300 lg:hover:text-terciary">{title}</a>
			</div>
			<ul class="flex items-center space-x-6 font-extralight text-gray-400">
				<li>
					<a href="#home" class="lg:hover:text-terciary">{body}</a>
				</li>
				<li class="relative parent-dropdown">
					<a class="lg:hover:text-terciary hover:cursor-pointer pb-4">Projects</a>
					<ul class="dropdown mt-2 z-10 bg-secondary absolute w-max rounded-md h-auto">
						<li
							class="rounded-md py-2 pr-4 pl-2 hover:bg-terciary hover:cursor-pointer hover:text-gray-100"
						>
							<a href="#two">Project 1</a>
						</li>
						<li
							class="rounded-md py-2 pr-4 pl-2 hover:bg-terciary hover:cursor-pointer hover:text-gray-100"
						>
							<a href="#three">Project 2</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#blogs" class="lg:hover:text-terciary">Blogs</a>
				</li>
				<!-- <li>
					<a
						href="#"
						class="inline-block rounded-sm bg-terciary px-4 py-1 font-normal text-gray-300 lg:hover:bg-[#e65971]"
						>{signup}
					</a>
				</li> -->
			</ul>
		</div>
	</section>
</header>

<style>
	.open {
		transform: rotate(90deg);
		transform: translateY(0px);
	}
	.open .ham-top {
		transform: rotate(45deg) translateY(6px) translate(6px);
	}
	.open .ham-middle {
		opacity: 0;
	}
	.open .ham-bottom {
		transform: rotate(-45deg) translateY(6px) translate(-6px);
	}
	.h-intro {
		height: calc(100vh - 40px);
	}
	/* Dropdown */
	.dropdown {
		display: none;
	}
	.parent-dropdown:hover .dropdown {
		display: block;
	}
</style>

<script>
	/**Menu bar icon */
	const menu = document.getElementById("menu") as HTMLDivElement;
	const menu_btn = document.getElementById("menu-btn") as HTMLDivElement;
	const menuItems = document.querySelectorAll(".menu-item");

	const toggleMenu = () => {
		const $body = document.querySelector("body") as HTMLBodyElement;
		$body.classList.toggle("overflow-hidden");
		menu_btn.classList.toggle("open");
		menu.classList.toggle("invisible");
	};
	menu_btn.addEventListener("click", toggleMenu);
	menuItems.forEach((element) => {
		element.addEventListener("click", toggleMenu);
	});
</script>
