---
export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="portfoliov2.1" />
		<link rel="icon" sizes="32x32" href="/svg/portfolio-icon.svg" />
		<link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
		/>

		<!-- google fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,400;8..144,700&display=swap"
			rel="stylesheet"
		/>
		<title>{title}</title>
	</head>
	<body class="h-auto w-full antialiased font-roboto-flex">
		<slot />
		<!-- Ionicons -->
		<script
			type="module"
			src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
			defer
		></script>
		<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js" defer
		></script>
		<script src="/script.js" is:inline></script>

		<!-- Sweet Alert -->
		<script src="//cdn.jsdelivr.net/npm/sweetalert2@11" is:inline></script>
	</body>
</html>
